#page-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;

}

#page-header img {
  background-color:transparent;
}

@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  #page-header {
    justify-self: left;
    width: 30%;
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
  }

}